/* Division de la pagina*/
body {
  margin: 0;
  border: 0;
}

#header {
  width: 100%;
  background: #006DA6;
}

#content-container1 {
  float: left;
  width: 100%;
}

#content-container2 {
  margin-left: 280px;
}

#content {
  margin-top: 0;
  background: #FFA100;
}

#navigation-container {
  float: left;
  width: 280px;
  margin-left: -100%;
}

#navigation {
  margin-top: 0;
  background: #658C00;
}

#footer {
  width: 100%;
  background: #006DA6;
}


header {
    /*background-color:black;
    color:white;*/
    text-align:left;
    padding:5px;
    	
}


nav {
    line-height:30px;
    background-color:#DDEFEF;
    height:300px;
    width:160px;
    float:left;
    padding:5px; 
}
section {
    width:500px;
    float:left;
    padding:10px; 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

/* menu*/

div.menu
{
    /*width:500px;margin:0 auto;*//*Uncomment this line to make the menu center-aligned.*/
    text-align:center;
    font-size:0;
    height: 25px;    
    *position:relative;*top:1px;/*Hacks for IE6 & IE7 */
      color: #336B6B;
    padding: 1px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;    
}

div.menu a
{
    display: inline-block;
    padding: 0 30px;
    margin-right:1px; /* It specifies the distance between each tab */
    background:#F7F7F7; /* #DDEFEF */
    color:Black;
    text-decoration:none;
    font: normal 14px Arial;
    line-height: 24px;
    border:1px solid #CAD0DB;
    border-bottom:0;
    color:#666;
    vertical-align:top;/*ChangeSet#2*/
    text-decoration:none;
}

div.menu a:hover, div.menu3 a.current
{
    background:#E9ECF0;
    line-height: 25px;
    color:#000;
}

div.menusub
{
    height:6px;
    border:1px solid #CAD0DB;
    background:#E9ECF0;
}

/* Final de menu*/

/* Image Button */

.nuevo {
    background: #EBE3CD url(../img/page_white.png) no-repeat 5px center;
    vertical-align:middle; 
    border: 1px solid #969184;
	padding:4px 30px;
}
.editar {
    background: #EBE3CD url(../img/page_white.png) no-repeat 5px center;
    vertical-align:middle; 
    border: 1px solid #969184;
	padding:4px 30px;
}


.buscar {
    background: #EBE3CD url(../img/search.png) no-repeat 5px center;
    vertical-align:middle; 
    border: 1px solid #969184;
	padding:4px 100px;
	
	
}
.reporte {
    background: #EBE3CD url(../img/imprimir.png) no-repeat 5px center;
    vertical-align:middle; 
    border: 1px solid #969184;
	padding:4px 30px;
}

/* final de Botones */
/* logo */
.logo-table {
    border-spacing: 0;
}
.logo-table thead {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
/*fin Logo */
/* Inicio de styles de tablas */

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table-highlight tbody tr:hover {
    background-color: #CCE7E7;
}
.zui-table-horizontal tbody td {
    border-left: none;
    border-right: none;
}
/* Final de tabla */

/* Hojas de style para formulario*/
/* === Remove input autofocus webkit === */
*:focus {outline: none;}

/* === Form Typography === */
body {font: 12px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}

.training_form h2, .training_form label {font-family:Georgia, Times, "Times New Roman", serif;}

.form_hint, .required_notification {font-size: 11px;}

/* === List Styles === */
.training_form ul {
    width:750px;
    list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.training_form li{
	padding:12px; 
	border-bottom:1px solid #eee;
	position:relative;
} 
.training_form li:first-child, .training_form li:last-child {
	border-bottom:1px solid #777;
}

/* === Form Header === */
.training_form h2 {
	margin:0;
	display: inline;
}
.required_notification {
	color:#d45252; 
	margin:5px 0 0 0; 
	display:inline;
	float:right;
}

/* === Form Elements === */
.training_form label {
	width:150px;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}
.training_form input {
	height:20px; 
	width:220px; 
	padding:5px 8px;
}
.training_form select {
	height:30px; 
	width:220px; 
	padding:5px 8px;
}
.training_form textarea {padding:8px; width:300px;}
.training_form button {margin-left:156px;}

	/* form element visual styles */
	.training_form input, .training_form textarea, .training_form select { 
		border:1px solid #aaa;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
		border-radius:2px;
		padding-right:30px;
		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
	}
	.training_form input:focus, .training_form textarea:focus .training_form select {
		background: #fff; 
		border:1px solid #555; 
		box-shadow: 0 0 3px #aaa; 
		padding-right:70px;
	}

/* === HTML5 validation styles === */	
.training_form input:required, .training_form textarea:required, .training_form select:required {
	background: #fff url(images/red_asterisk.png) no-repeat 98% center;
}
.training_form input:required:valid, .training_form textarea:required:valid, .training_form select:required:valid {
	background: #fff url(images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.training_form input:focus:invalid, .training_form textarea:focus:invalid, .training_form select:focus:invalid {
	background: #fff url(images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

/* === Form hints === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.form_hint::before {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}
.training_form input:focus + .form_hint {display: inline;}
.training_form input:required:valid + .form_hint {background: #28921f;}
.training_form input:required:valid + .form_hint::before {color:#28921f;}

.training_form select:focus + .form_hint {display: inline;}
.training_form select:required:valid + .form_hint {background: #28921f;}
.training_form select:required:valid + .form_hint::before {color:#28921f;}
	
/* === Button Style === */
button.submit {
	background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	background: -webkit-linear-gradient(top, #68b12f, #50911e);
	background: -moz-linear-gradient(top, #68b12f, #50911e);
	background: -ms-linear-gradient(top, #68b12f, #50911e);
	background: -o-linear-gradient(top, #68b12f, #50911e);
	background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	-webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
	-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
	-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
	-o-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
	opacity:.85;
	cursor: pointer; 
}
button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;
	
}


/* tabla Buscar*/

.training_find h2, .training_find label {font-family:Georgia, Times, "Times New Roman", serif;}

/*.form_hint, .required_notification {font-size: 11px;}*/

/* === List Styles === */
.training_find ul {
    width:750px;
    list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.training_find li{
	padding:12px; 
	border-bottom:1px solid #eee;
	position:relative;
} 
.training_find li:first-child, .training_find li:last-child {
	border-bottom:1px solid #777;
}

/* === Form Header === */
.training_find h2 {
	margin:0;
	display: inline;
}
/*
.required_notification {
	color:#d45252; 
	margin:5px 0 0 0; 
	display:inline;
	float:right;
}
*/
/* === Form Elements === */
.training_find label {
	width:150px;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}
.training_find input[type="text"] {
	height:20px; 
	width:100px; 
	padding:5px 8px;
}
.training_find input[type="button"] {
	height:30px; 
	width:110px; 
	padding:5px 8px;
}
.training_find select {
	height:30px; 
	width:150px; 
	padding:5px 8px;
}
.training_find textarea {padding:8px; width:300px;}
.training_find button {margin-left:156px;}

	/* form element visual styles */
	.training_find input, .training_find textarea, .training_find select { 
		border:1px solid #aaa;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
		border-radius:2px;
		padding-right:30px;
		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
	}
	.training_find input:focus, .training_find textarea:focus .training_find select {
		background: #fff; 
		border:1px solid #555; 
		box-shadow: 0 0 3px #aaa; 
		padding-right:70px;
	}

/* === HTML5 validation styles === */	
.training_find input:required, .training_find textarea:required, .training_find select:required {
	background: #fff url(images/red_asterisk.png) no-repeat 98% center;
}
.training_find input:required:valid, .training_find textarea:required:valid, .training_find select:required:valid {
	background: #fff url(images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.training_find input:focus:invalid, .training_find textarea:focus:invalid, .training_find select:focus:invalid {
	background: #fff url(images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}





